@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
}

:root {
  --green: #27ae60;
  --black: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-sodow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-sodow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
}

* {
  font-family: "Poppins", sans-serif, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  user-select: none;
  color: var(--black);
}
html {
  font-size: 62.5%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: var(--black);
  padding-bottom: 2rem;
}
.span {
  color: var(--green);
}

section {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
}
body.dark {
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #222;
  --border: 0.1rem solid rgba(0, 0, 0, 0.4);
  --box-sodow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-sodow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--bg-color);
  width: 30rem;
  border-right: var(--border);
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.header .user img {
  margin: 1rem;
  object-fit: cover;
  border: 1rem solid transparent;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  box-shadow: var(--box-sodow);
}

.header .user h3 {
  color: var(--black);
  font-size: 2.5rem;
}
.header .user p {
  color: var(--green);
  font-size: 1.5rem;
}
.header .navbar {
  padding-top: 1rem;
}
.header .navbar a {
  display: block;
  margin: 1.5rem;
  padding: 0.7rem;
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: var(--box-sodow);
  color: var(--black);
}
.header .navbar a:hover {
  box-shadow: var(--box-sodow-inset);
  color: var(--green);
}

#menu-btn {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: var(--box-sodow);
  text-align: center;
  color: var(--black);
  display: none;
  background: var(--bg-color);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-sodow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.services .box-container .box i {
  font-size: 4rem;
  padding-bottom: 5rem;
  color: #fff;
}

.services .box-container .box h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: var(--black);
}
.services .box-container .box p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--black);
}

.services .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--green);
  z-index: -1;
  clip-path: circle(9rem at 5% 0%);
  transition: 0.3s linear;
}

.services .box-container .box:hover:before {
  clip-path: circle(100%);
}
.services .box-container .box:hover i {
  transform: scale(1.2);
}

.services .box-container .box:hover > * {
  color: #fff;
}

.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}
.portfolio .box-container .box {
  height: 25rem;
  border-width: 0.5rem;
  overflow: hidden;
  box-shadow: var(--box-sodow);
  position: relative;
  border: 1rem solid transparent;
}
.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg-color);
  display: grid;
  place-items: center;
  transform: scale(0);
}
.portfolio .box-container .box:hover .content {
  opacity: 100;
  transform: scale(1);
}

.portfolio .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: uppercase;
  transform: translateY(-5rem);
  opacity: 0;
  transition-delay: 0.3s;
}

.portfolio .box-container .box:hover h3 {
  transform: translateY(0rem);
  opacity: 100;
}

#menu-btn:hover {
  color: var(--green);
  box-shadow: var(--box-sodow-inset);
}

#theme-toggler {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: var(--box-sodow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
  right: 2rem; /* مطمئن شو که در سمت راست قرار بگیره */
  overflow: hidden;
}

#theme-toggler:hover {
  color: var(--green);
  box-shadow: var(--box-sodow-inset);
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home .content h3 {
  font-size: 4rem;
  color: var(--black);
  line-height: 1.1;
  text-transform: uppercase;
}
.home .content p {
  font-size: 2rem;
  color: var(--green);
  padding-bottom: 0.5rem;
  /* box-shadow: var(--box-sodow); */
}

.home .share {
  position: relative;
  top: 10rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-sodow);
  padding: 1rem;
  color: var(--black);
}
.home .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: var(--box-sodow);
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--black);
}
.home .share a:hover {
  box-shadow: var(--box-sodow-inset);
  color: var(--green);
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  /* display: flex; */
}

.about .row .box-container {
  flex: 1 1 40rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.about .row .box-container .box {
  flex: 1 1 18rem;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-sodow);
}

.about .row .box-container .box h3 {
  font-size: 5rem;
  color: var(--black);
  line-height: 1.1;
}
.about .row .box-container .box p {
  font-size: 1.7rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
  line-height: 1.8;
}
.about .row .content h3 span {
  color: var(--green);
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.about .row .progress {
  flex: 1 1 40rem;
}

.about .row .progress h3 {
  color: var(--black);
  font-weight: normal;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.about .row .progress .bar {
  box-shadow: var(--box-sodow);
  border-radius: 5rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.about .row .progress .bar span {
  display: block;
  height: 100%;
  background: var(--green);
  border-radius: 5rem;
  width: 0;
  transition: width 1s ease-in-out;
}

.contact form {
  margin: 1rem auto;
  max-width: 70rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-sodow);
  padding: 2rem;
}
.contact form .box {
  padding: 1rem 1.5rem;
  background: none;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.9rem 0;
  box-shadow: var(--box-sodow);
  border-radius: 0.5rem;
  width: 100%;
}
.contact form textarea {
  height: 20rem;
  resize: none;
}
.contact form .box:focus {
  box-shadow: var(--box-sodow-inset);
}
.credit-box {
  text-align: center;
  padding-bottom: 2rem;
}
.credit-box div {
  font-size: 2.5rem;
}

.credits {
  font-size: 2rem;
  text-align: center;
  padding: 2.5rem 1rem;
  margin-top: 1rem;
  border-top: var(--border);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3.5rem;
  border-right: 0.5rem;
  font-size: 1.7rem;
  box-shadow: var(--box-sodow);
  border-radius: 0.5rem;
  background: none;
  color: var(--black);
  cursor: pointer;
}

.btn:hover {
  box-shadow: var(--box-sodow-inset);
  color: var(--green);
}
/** media Querry  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding-left: 0;
    width: 100vw;
  }

  .header {
    left: -110%;
  }
  .header.show {
    left: 0%;
    transition: all 0.5s linear;
  }
  #menu-btn {
    display: inline;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  body {
    padding-left: 0;
    width: 100vw;
  }

  .header {
    width: 100%;
  }
}
